* {
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

#top-section {
  height: 100vh;
  margin-top: 10px;
}

#logo {
  pointer-events: none;
}

.orange-color {
  color: #ff5a09 !important;
}

.blue-color {
  color: #185967 !important
}

.nav-wrapper {
  background-color: white !important;
}

.nav-wrapper a {
  font-size: 22px !important;
}

i {
  font-size: 40px !important;
}

i:hover {
  color: #ff5a09;
  background-color: white !important;
}

.sidenav {
  background-color: #ff5a09 !important;
}

.sidenav a {
  color: white !important;
  font-size: 30px !important;
  margin-bottom: 10px;
}

.sidenav a:hover {
  color: #ff5a09 !important;
  background-color: white !important;
}

.nav-wrapper a:hover {
  color: white !important;
  background-color: #ff5a09 !important;
}

.bay-harbor {
  margin-top: -5em;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-large {
  margin: 15px !important;
  font-size: 20px;
  background: #ff5a09;
}

.btn-large:hover {
  background-color: #185967;
}

.btn-floating {
  background-color: #ff5a09 !important;
}


.menu-col {
  text-align: center;
}

.category-container h4 {
  color: #185967;
  font-size: 25px;
}

.category-container h5 {
  color: #ff5a09;
  font-size: 20px;
}

.category-container p {
  font-size: 15px;
}

.sides {
  border: solid 4px #ff5a09;
}

.map {
  display: flex;
  justify-content: center;
}

#fb-logo {
  margin-top: 1em;
}

@media (min-width: 1025px) {
  .sub-menu-container {
    display: flex;
  }

  #top-section {
    height: 100%;
    margin-top: 10px;
  }
}


